﻿<div class="table-container">
    <table class="table">
        <tbody>
            @foreach (var c in ColorUtility.CategoricalTwelveColors.Select((c, i) => new { Color = c, Index = i }))
            {
                <tr>
                    <td>@c.Color</td>
                    <td class="m-1 p-2" style="background-color: @c.Color;width:48px;height:48px;" Title="@($"Index: {c.Index}, Color: {@ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbString().ToLowerInvariant()}")"></td>
                    <td class="m-1 p-2" style="background-color: @ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.8);width:48px;height:48px;" Title="@($"Index: {c.Index}, Color: {@ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")"></td>
                    <td class="m-1 p-2" style="background-color: @ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.6);width:48px;height:48px;" Title="@($"Index: {c.Index}, Color: {@ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")"></td>
                    <td class="m-1 p-2" style="background-color: @ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.4);width:48px;height:48px;" Title="@($"Index: {c.Index}, Color: {@ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")"></td>
                    <td class="m-1 p-2" style="background-color: @ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.2);width:48px;height:48px;" Title="@($"Index: {c.Index}, Color: {@ColorUtility.CategoricalTwelveColors[c.Index].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")"></td>
                </tr>
            }
        </tbody>
    </table>
</div>