@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits ComponentBase
@typeparam TItem

@if (DocType is DocType.Parameters or DocType.Properties)
{
    <tr>
        <td class="text-primary text-opacity-75">@PropertyName</td>
        @if (string.IsNullOrWhiteSpace(PropertyType))
        {
            <td class="text-danger text-opacity-75">@typeof(TItem).GetPropertyTypeName(PropertyName!)</td>
        }
        else
        {
            <td class="text-danger text-opacity-75">@PropertyType</td>
        }
        <td>@DefaultValue</td>
        <td class="text-center">
            @if (Required)
            {
                <i class="bi bi-check-circle-fill text-success text-opacity-75"></i>
            }
        </td>
        <td>@((MarkupString)Description!)</td>
        <td>@AddedVersion</td>
    </tr>
}
else if (DocType == DocType.Methods)
{
    <tr>
        <td class="text-primary text-opacity-75">@MethodName</td>
        <td class="text-danger text-opacity-75">@ReturnType</td>
        <td>@Description</td>
        <td>@AddedVersion</td>
    </tr>
}
