@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <img src="https://i.imgur.com/IX3bajc.png" class="img-fluid" alt="Blazor Bar Chart - API Documentation" /> *@

<DemoLink Href="@DemoRouteConstants.Demos_PolarAreaChart" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="Block" DocType="DocType.Parameters" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Docs_PolarAreaChart;
    private const string pageTitle = "PolarArea Chart";
    private const string pageDescription = "This documentation provides a comprehensive reference for the <code>Block</code> component, guiding you through its configuration options.";
    private const string metaTitle = "Blazor PolarArea Chart Component";
    private const string metaDescription = "This documentation provides a comprehensive reference for the Block component, guiding you through its configuration options.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
