@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DemoLink Href="@DemoRouteConstants.Demos_PolarAreaChart" />

<Image Src="@imageUrl" class="img-fluid" alt="Blazor PolarArea Chart - API Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="PolarAreaChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Methods" PageUrl="@pageUrl" Link="methods">
    <DocxTable TItem="PolarAreaChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="ChartData Properties" PageUrl="@pageUrl" Link="chart-data-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="PolarAreaChartDataset Properties" PageUrl="@pageUrl" Link="polarareachart-dataset-properties">
    <DocxTable TItem="PolarAreaChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="PolarAreaChartDatasetData Properties" PageUrl="@pageUrl" Link="polarareachart-dataset-data-properties">
    <DocxTable TItem="PolarAreaChartDatasetData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="PolarAreaChartDatasetDataLabels Properties" PageUrl="@pageUrl" Link="polarareachart-dataset-data-labels-properties">
    <DocxTable TItem="PolarAreaChartDatasetDataLabels" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="PolarAreaChartOptions Properties" PageUrl="@pageUrl" Link="polarareachart-options-properties">
    <DocxTable TItem="PolarAreaChartOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(PolarAreaChart);
    private const string pageUrl = DemoRouteConstants.Docs_PolarAreaChart;
    private const string pageTitle = $"Blazor {componentName} component";
    private const string pageDescription = $"Comprehensive API documentation for the Blazor <code>{componentName}</code> component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string metaTitle = $"Blazor {componentName} component API Reference & Configuration Guide";
    private const string metaDescription = $"Comprehensive API documentation for the Blazor {componentName} component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string imageUrl = DemoImageSrcConstants.PolarAreaChart;
}
