@attribute [Route(pageUrl)]
@layout DemosMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DocsLink Href="@RouteConstants.Docs_BarChart" />

<Prerequisites PageUrl="@pageUrl" />

<Section Class="p-0" Size="HeadingSize.H4" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <Block class="mb-3">
        In the following example, a categorical 12-color palette is used.
    </Block>
    <Message Color="MessageColor.Success" ShowDeleteButton="false">
        <MessageBody>
            For data visualization, you can use the predefined palettes <code>ColorUtility.CategoricalTwelveColors</code> for a 12-color palette and <code>ColorUtility.CategoricalSixColors</code> for a 6-color palette.
            These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
        </MessageBody>
    </Message>

    <Demo Type="typeof(BarChart_Demo_01_Examples)" Tabs="true" />
</Section>

<Demo Type="typeof(BarChart_Demo_02_Horizontal_BarChart)" />

<Demo Type="typeof(BarChart_Demo_03_Stacked_BarChart)" />

<Demo Type="typeof(BarChart_Demo_04_Stacked_BarChart_with_Datalabels)" />

<Demo Type="typeof(BarChart_Demo_05_Locale)" />

@code {
    private const string pageUrl = RouteConstants.Demos_BarChart;
    private const string pageTitle = "Bar Chart";
    private const string pageDescription = "The <code>Bar Chart</code> component is a simple spacer tool. It allows sibling HTML elements to have a consistent margin between them.";
    private const string metaTitle = "Blazor Bar Chart";
    private const string metaDescription = "A Blazor bar chart component is used to represent data values as vertical bars. It is sometimes used to show trend data and to compare multiple data sets side by side.";
    private const string imageUrl = "https://i.imgur.com/IX3bajc.png"; // TODO: update
}