@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <img src="https://i.imgur.com/IX3bajc.png" class="img-fluid" alt="Blazor Bar Chart - API Documentation" /> *@

<DemoLink Href="@RouteConstants.Demos_BarChart" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="BarChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Methods" PageUrl="@pageUrl" Link="methods">
    <DocxTable TItem="BarChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BarChartOptions Properties" PageUrl="@pageUrl" Link="confirm-dialog-options-properties">
    <DocxTable TItem="BarChartOptions" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BarChartDataset Properties" PageUrl="@pageUrl" Link="confirm-dialog-options-properties">
    <DocxTable TItem="BarChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BarChartDatasetData Properties" PageUrl="@pageUrl" Link="confirm-dialog-options-properties">
    <DocxTable TItem="BarChartDatasetData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="ChartData Properties" PageUrl="@pageUrl" Link="confirm-dialog-options-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Docs_BarChart;
    private const string pageTitle = "Bar Chart";
    private const string pageDescription = "Comprehensive API documentation for the Blazor <code>Bar Chart</code> component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string metaTitle = "Blazor Bar Chart API Reference & Configuration Guide";
    private const string metaDescription = "Comprehensive API documentation for the Blazor Bar Chart component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
