@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits ComponentBase

<footer class="footer pb-6">
    <div class="columns">
        <div class="column">
            <div class="is-flex is-flex-direction-row is-align-items-center mb-2">
                <div class="mr-2">
                    <Image Src="@StringConstants.StaticAssets_Icons_Logo_png"
                           Dimension="ImageDimension.Is32x32"
                           alt="BlazorExpress Logo" />
                </div>
                <div class="is-size-4">@StringConstants.NugetPackageName</div>
            </div>
            <div class="is-size-6 mb-2">
                Designed and built with <i class="bi bi-heart-fill has-text-danger"></i> by the <b>BlazorExpress</b> team and our contributors.
            </div>
            <div class="is-size-6 mb-2">
                <b>Apache License 2.0</b>.
            </div>
            <div class="is-size-6 mb-2">
                Currently <b>@Version</b>.
            </div>
            <div class="is-size-6 mb-2">
                Powered by <b>@DotNetVersion</b>.
            </div>
        </div>
        <div class="column is-hidden-mobile"></div>
        <div class="column">
            <p class="is-size-5">Links</p>
            <ul class="menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="@RouteConstants.Demos_BarChart">Demos</a></li>
                <li><a href="@RouteConstants.Docs_GettingStarted">Docs</a></li>
                <li><a href="/">Blog</a></li>
                <li><a href="@GithubUrl" target="_blank">GitHub</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="is-size-5">Guides</p>
            <ul class="menu-list">
                <li><a href="@RouteConstants.Docs_GettingStarted">Getting started</a></li>
                <li><a href="/">Install NuGet package</a></li>
                <li><a href="/">Starter templates</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="is-size-5">Community</p>
            <ul class="menu-list">
                <li><a href="@GithubIssuesUrl" target="_blank">Issues</a></li>
                <li><a href="@GithubDiscussionsUrl" target="_blank">Discussions</a></li>
                <li><a href="@OpenCollectiveUrl" target="_blank">Open Collective</a></li>
                <li><a href="@StackoverflowUrl" target="_blank">Stack Overflow</a></li>
            </ul>
        </div>
    </div>
</footer>