@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits MainLayoutBase

<BulmaLayout>
    <HeaderSection>
        <BulmaNavbar BrandImgSrc="_content/BlazorExpress.Bulma.Demo.RCL/icons/logo.png"
                     BrandImgAltText="Blazor Express Logo"
                     ApplicationName="BlazorExpress.Bulma" />
    </HeaderSection>
    <ContentSection>
        @Body
        <div class="container is-max-desktop mb-4">
            <Notification Class="has-text-centered" Color="NotificationColor.Link" HideDeleteButton="true">
                <a href="//github.com/BlazorExpress/BlazorExpress.Bulma" class="be-bulma-text-decoration-none">
                    <i class="bi bi-star-fill"></i>
                    <span>If you like BlazorExpress.Bulma, give it a star on GitHub!</span>
                    <i class="bi bi-star-fill"></i>
                </a>
            </Notification>
            <MainLayoutBaseFooter Version="@Version"
                                  DotNetVersion="@DotNetVersion"
                                  DocsUrl="@DocsUrl"
                                  BlogUrl="@BlogUrl"
                                  GithubUrl="@GithubUrl"
                                  NugetUrl="@NuGetUrl"
                                  TwitterUrl="@TwitterUrl"
                                  LinkedInUrl="@LinkedInUrl"
                                  OpenCollectiveUrl="@OpenCollectiveUrl"
                                  GithubIssuesUrl="@GithubIssuesUrl"
                                  GithubDiscussionsUrl="@GithubDiscussionsUrl"
                                  StackoverflowUrl="@StackoverflowUrl" />
        </div>
    </ContentSection>
    <FooterSection>
        <div class="container is-max-desktop mb-4">
        </div>
    </FooterSection>
</BulmaLayout>
