@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

@* <img src="https://i.imgur.com/IX3bajc.png" class="img-fluid" alt="Blazor Bar Chart - API Documentation" /> *@

<DemoLink Href="@DemoRouteConstants.Demos_DoughnutChart" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="DoughnutChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Methods" PageUrl="@pageUrl" Link="methods">
    <DocxTable TItem="DoughnutChart" DocType="DocType.Methods" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Docs_DoughnutChart;
    private const string pageTitle = "Doughnut Chart";
    private const string pageDescription = "Comprehensive API documentation for the Blazor <code>Doughnut Chart</code> component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string metaTitle = "Blazor Doughnut Chart API Reference & Configuration Guide";
    private const string metaDescription = "Comprehensive API documentation for the Blazor Doughnut Chart component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update with actual image URL
}
