@using BlazorBootstrap
@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits MainLayoutBase

<div class="bb-page">

    <Sidebar Href="/"
             ImageSrc="logo-180.png"
             Title="BlazorExpress.ChartJS"
             DataProvider="SidebarDataProvider" />

    <main class="bb-scrollbar">
        <div class="content my-4 my-md-4 px-4">
            @Body

            <Callout Class="text-center text-bold skippy border-0" HideHeading="true">
                <a href="@GithubUrl" class="text-decoration-none">
                    <i class="bi bi-star-fill"></i>
                    <span>If you like BlazorExpress.ChartJS, give it a star on GitHub!</span>
                    <i class="bi bi-star-fill"></i>
                </a>
            </Callout>
        </div>

        <MainLayoutBaseFooter Version="@Version"
                              HomeUrl="@HomeUrl"
                              DocsUrl="@DocsUrl"
                              BlogUrl="@BlogUrl"
                              GithubUrl="@GithubUrl"
                              TwitterUrl="@TwitterUrl"
                              LinkedInUrl="@LinkedInUrl"
                              OpenCollectiveUrl="@OpenCollectiveUrl"
                              GithubIssuesUrl="@GithubIssuesUrl"
                              GithubDiscussionsUrl="@GithubDiscussionsUrl"
                              StackoverflowUrl="@StackoverflowUrl" />

    </main>
</div>

<MainLayoutBaseServices />