@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<DemoLink Href="@DemoRouteConstants.Demos_BubbleChart" />

<Image Src="@imageUrl" class="img-fluid" alt="Blazor Bar Chart - API Documentation" />

<Section Class="p-0" Size="HeadingSize.H4" Name="Parameters" PageUrl="@pageUrl" Link="parameters">
    <DocxTable TItem="BubbleChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="Methods" PageUrl="@pageUrl" Link="methods">
    <DocxTable TItem="BubbleChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="ChartData Properties" PageUrl="@pageUrl" Link="chart-data-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BubbleChartDataset Properties" PageUrl="@pageUrl" Link="bubblechart-dataset-properties">
    <DocxTable TItem="BubbleChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BubbleChartDatasetData Properties" PageUrl="@pageUrl" Link="bubblechart-dataset-data-properties">
    <DocxTable TItem="BubbleChartDatasetData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BubbleChartDatasetDataLabels Properties" PageUrl="@pageUrl" Link="bubblechart-dataset-data-labels-properties">
    <DocxTable TItem="BubbleChartDatasetDataLabels" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H4" Name="BubbleChartOptions Properties" PageUrl="@pageUrl" Link="bubblechart-options-properties">
    <DocxTable TItem="BubbleChartOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(BubbleChart);
    private const string pageUrl = DemoRouteConstants.Docs_BubbleChart;
    private const string pageTitle = $"Blazor {componentName} component";
    private const string pageDescription = $"Comprehensive API documentation for the Blazor <code>{componentName}</code> component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string metaTitle = $"Blazor {componentName} component API Reference & Configuration Guide";
    private const string metaDescription = $"Comprehensive API documentation for the Blazor {componentName} component, including configuration options, parameters, methods, events, child component parameters, and model properties.";
    private const string imageUrl = @DemoImageSrcConstants.BubbleChart;
}
