@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits BulmaComponentBase

<div @ref="@Element"
     id="@Id"
     class="@ClassNames"
     style="@StyleNames"
     @attributes="@AdditionalAttributes">

    @if (!Tabs)
    {
        <div class="be-bulma-doc-example-demo">
            <DynamicComponent Type="this.Type" />
        </div>
        <div class="be-bulma-doc-example-toolbar is-flex is-justify-content-space-between">
            <div class="pl-4 py-2">@LanguageCode.ToLanguageName()?.ToUpperInvariant()</div>
            <div class="pr-4 py-2"><i class="@clipboardTooltipIconName" role="button" @onclick="CopyToClipboardAsync"></i></div>
        </div>
        <div class="be-bulma-doc-example-snippet">
            <pre>
            <code class="@LanguageCode.ToLanguageCssClass()">
                        @if (codeSnippet is not null)
                        {
                <text>@codeSnippet</text>
                        }
                    </code>
                </pre>
        </div>
    }
    else
    {
        <Tabs>
            <Tab Title="Example">
                <div class="be-bulma-doc-example-demo">
                    <DynamicComponent Type="this.Type" />
                </div>
            </Tab>
            <Tab Title="View Source">
                <div class="be-bulma-doc-example-snippet">
                    <div class="pr-4 py-2 be-bulma-doc-float-end">
                        <i class="@clipboardTooltipIconName" role="button" @onclick="CopyToClipboardAsync"></i>
                    </div>
                    <pre>
                    <code class="@LanguageCode.ToLanguageCssClass()">
                                @if (codeSnippet is not null)
                                {
                        <text>@codeSnippet</text>
                                }
                            </code>
                        </pre>
                </div>
            </Tab>
        </Tabs>
    }
</div>
