@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits BulmaComponentBase

<Navbar Class="px-3" HasShadow="true">
    <NavbarBrand>
        <NavbarItem Href="/" IsHoverable="false">
            @if (!string.IsNullOrWhiteSpace(BrandImgSrc))
            {
                <img src="@BrandImgSrc" alt="@BrandImgAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(ApplicationName))
            {
                <span class="ml-2 is-size-5 has-text-weight-bold">@ApplicationName</span>
            }
        </NavbarItem>

        <NavbarBurger TargetId="navbarBasicExample1" IsActive="navbarMenuActive" ActiveStateChanged="ToggleNavbarMenu">
            <i class="bi bi-three-dots-vertical"></i>
        </NavbarBurger>
    </NavbarBrand>

    <NavbarMenu Id="navbarBasicExample1" IsActive="navbarMenuActive">
        <NavbarStart>
            <NavbarItem Class="mr-1" Href="/docs">
                <i class="bi bi-file-text-fill has-text-link mr-2"></i>Docs
            </NavbarItem>
            <NavbarItem Class="mr-1" Href="/demos">
                <i class="bi bi-display-fill has-text-primary mr-2"></i>Demos
            </NavbarItem>
            @* <NavbarItem Href="/blog">
                <i class="bi bi-newspaper has-text-warning mr-2"></i>Blog
            </NavbarItem> *@
        </NavbarStart>
        <NavbarEnd>
            <NavbarItem Class="mr-1" Href="@GithubUrl" target="_blank">
                <i class="bi bi-github"></i>
                <small class="is-hidden-desktop ml-2">GitHub</small>
            </NavbarItem>
            <NavbarItem Class="mr-1" Href="@TwitterUrl" target="_blank">
                <i class="bi bi-twitter-x"></i>
                <small class="is-hidden-desktop ml-2">Twitter</small>
            </NavbarItem>
            <NavbarItem Href="@LinkedInUrl" target="_blank">
                <i class="bi bi-linkedin"></i>
                <small class="is-hidden-desktop ml-2">LinkedIn</small>
            </NavbarItem>
            <NavbarItem Type="NavbarItemType.Div">
                <span class="tag is-link">@Version</span>
            </NavbarItem>

            <NavbarItem Type="NavbarItemType.Div" HasDropdown="true">
                <NavbarLink Class="be-bulma-theme-indicator"><i class="bi bi-sun"></i></NavbarLink>
                <NavbarDropdown Class="mt-2" Position="NavbarDropdownPosition.Right">
                    <NavbarItem Class="be-bulma-theme-item is-clickable" Type="NavbarItemType.Link" data-scheme="light" @onclick="SetLightTheme"><i class="bi bi-sun mr-2"></i>Light</NavbarItem>
                    <NavbarItem Class="be-bulma-theme-item is-clickable my-1" Type="NavbarItemType.Link" data-scheme="dark" @onclick="SetDarkTheme"><i class="bi bi-moon-stars-fill mr-2"></i>Dark</NavbarItem>
                    <NavbarItem Class="be-bulma-theme-item is-clickable" Type="NavbarItemType.Link" data-scheme="system" @onclick="SetAutoTheme"><i class="bi bi-circle-half mr-2"></i>Auto</NavbarItem>
                </NavbarDropdown>
            </NavbarItem>

        </NavbarEnd>
    </NavbarMenu>
</Navbar>