@attribute [Route(pageUrl)]

<PageHeroSection PageUrl="@pageUrl"
                 Title="@title"
                 Heading="@heading"
                 Description="@description"
                 ImageUrl="@imageUrl" />

<Prerequisites PageUrl="@pageUrl" />

<SectionHeading Size="HeadingSize.H4" Text="How it works" PageUrl="@pageUrl" HashTagName="how-it-works" />
<div class="mb-3">
    In the following example, a categorical 12-color palette is used.
</div>
<BlazorBootstrap.Callout Heading="TIP" Color="CalloutColor.Success">
    For data visualization, you can use the predefined palettes <code>ColorUtility.CategoricalTwelveColors</code> for a 12-color palette and <code>ColorUtility.CategoricalSixColors</code> for a 6-color palette.
    These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
</BlazorBootstrap.Callout>
<Demo Type="typeof(PieChart_Demo_01_Examples)" Tabs="true" />

@code {
    private const string pageUrl = "/charts/pie-chart";
    private const string title = "Blazor Pie Chart";
    private const string heading = "Blazor Pie Chart";
    private const string description = "A Blazor pie chart component is a circular chart that shows the proportional values of different categories.";
    private const string imageUrl = "https://i.imgur.com/ieBupT2.png";
}
