@attribute [Route(pageUrl)]
@attribute [Route(pageUrl2)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<Section Size="HeadingSize.H4" Name="Install Nuget Package" PageUrl="@pageUrl2" Link="install-nuget-package">
    <div class="mb-3">
        Looking to quickly add <b>BlazorExpress.ChartJS</b> to your project? Use NuGet package manager.
    </div>
    <div class="p-2 text-bg-dark rounded">
        Install-Package BlazorExpress.ChartJS -Version @version
    </div>
</Section>

<Section Size="HeadingSize.H4" Name="Add script references" PageUrl="@pageUrl2" Link="add-script-references">
    <div class="mb-3">
        Insert the following references into the <b>body</b> section of the <b>wwwroot/index.html</b> file, immediately after the <b>_framework/blazor.webassembly.js</b> reference:
    </div>
    <Snippet LanguageCode="LanguageCode.JavaScript" FilePath="~\Components\Pages\GettingStarted\NET8_01_WebAssembly\Getting_Started_Snippet_01_Scripts.html" />
</Section>

<Section Size="HeadingSize.H4" Name="Register services" PageUrl="@pageUrl2" Link="register-services">
    <div class="mb-3">
        Register tag helpers in <b>_Imports.razor</b>.
    </div>
    <Snippet LanguageCode="LanguageCode.Razor" FilePath="~\Components\Pages\GettingStarted\NET8_01_WebAssembly\Getting_Started_Snippet_02_Register.txt" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Docs_GettingStarted;
    private const string pageUrl2 = RouteConstants.Docs_GettingStarted_Blazor_WebAssembly_NET8;
    private const string pageTitle = "Getting started - Blazor WebAssembly (.NET 8)";
    private const string pageDescription = "Getting started - Blazor WebAssembly (.NET 8)";
    private const string metaTitle = "Getting started - Blazor WebAssembly (.NET 8)";
    private const string metaDescription = "Get started with the Enterprise-class Component library built on the Blazor and Chart.js JavaScript library.";
    private const string imageUrl = "https://i.imgur.com/xEPhAsW.png"; // TODO: update with actual image URL
    private string version = default!;

    [Inject]
    private NavigationManager _navigationManager { get; set; } = default!;

    [Inject]
    private IConfiguration _configuration { get; set; } = default!;

    protected override void OnInitialized()
    {
        try
        {
            version = _configuration["version"]!;

            if (_navigationManager.Uri.Replace(_navigationManager.BaseUri, "").Contains("charts/getting-started"))
                _navigationManager.NavigateTo(pageUrl2);
        }
        catch
        {
            // do nothing
        }
    }
}