@attribute [Route(pageUrl)]

<PageHeroSection PageUrl="@pageUrl"
                 Title="@title"
                 Heading="@heading"
                 Description="@description"
                 ImageUrl="@imageUrl" />

<SectionHeading Size="HeadingSize.H4" Text="Locale" PageUrl="@pageUrl" HashTagName="locale" />
<div class="mb-3"></div>
<Demo Type="typeof(PieChart_Demo_04_Locale)" Tabs="true" />

@code {
    private const string pageUrl = "/charts/pie-chart/locale";
    private const string title = "Blazor Pie Chart";
    private const string heading = "Blazor Pie Chart";
    private const string description = "A Blazor pie chart component is a circular chart that shows the proportional values of different categories.";
    private const string imageUrl = "https://i.imgur.com/ieBupT2.png";
}
