@attribute [Route(pageUrl)]

<PageHeroSection PageUrl="@pageUrl"
                 Title="@title"
                 Heading="@heading"
                 Description="@description"
                 ImageUrl="@imageUrl" />

<Section Size="HeadingSize.H4" Text="Change legend position" PageUrl="@pageUrl" HashTagName="change-legend-position" />
<div class="mb-3">
    This sample demonstrates how to change the position of the chart legend.
</div>
<Demo Type="typeof(PieChart_Demo_03_Change_Legend_Position)" Tabs="true" />

@code {
    private const string pageUrl = "/charts/pie-chart/legend";
    private const string title = "Blazor Pie Chart";
    private const string heading = "Blazor Pie Chart";
    private const string description = "A Blazor pie chart component is a circular chart that shows the proportional values of different categories.";
    private const string imageUrl = "https://i.imgur.com/ieBupT2.png";
}
