@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits ComponentBase
@typeparam TItem

<tr>
    <td>@PropertyName</td>
    <td>@typeof(TItem).GetPropertyTypeName(PropertyName!)</td>
    <td>@DefaultValue</td>
    <td class="text-center">
        @if (Required)
        {
            <i class="bi bi-check-circle-fill text-primary"></i>
        }
    </td>
    <td>@Description</td>
    <td>@AddedVersion</td>
</tr>
