@namespace BlazorExpress.ChartJS
@inherits ChartComponentBase

<div style="@ContainerStyle">
    <canvas @ref="@Element" id="@Id" class="@Class" style="@Style" @attributes="@AdditionalAttributes"></canvas>
</div>
