@attribute [Route(pageUrl)]
@layout DocsMainLayout

<PageMetaTags PageUrl="@pageUrl" Title="@metaTitle" Description="@metaDescription" ImageUrl="@imageUrl" />

<PageHero Title="@pageTitle">
    <SubTitleTemplate>
        @((MarkupString)pageDescription)
    </SubTitleTemplate>
</PageHero>

<div class="content">
    <Section Class="p-0" Size="HeadingSize.H4" Name="Prerequisites" PageUrl="@pageUrl" Link="prerequisites">
        <Block>
            <ul>
                <li>.NET 8 SDK (<a href="https://dotnet.microsoft.com/download/dotnet/8.0" target="_blank">Download</a>) or later version</li>
                <li>Visual Studio 2022 or later / VS Code / Other</li>
                <li>Basic knowledge of Blazor WebAssembly</li>
            </ul>
        </Block>
    </Section>

    <Section Class="p-0" Size="HeadingSize.H4" Name="1. Using dotnet Templates" PageUrl="@pageUrl" Link="1-using-dotnet-templates">
        <Block>
            <ol>
                <li>
                    <b>Install the template:</b>
                    <br />
                    <p>TODO: Update the instructions.</p>
                    <Block>
                        The template sets up Bulma CSS, the required services, and sample components.
                    </Block>
                </li>
            </ol>
        </Block>
    </Section>

    <Section Class="p-0" Size="HeadingSize.H4" Name="2. Manual Installation" PageUrl="@pageUrl" Link="2-manual-installation">
        <Block>
            <ol>
                <li>
                    <b>Add the NuGet package:</b>
                    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.Text" FilePath="~\Pages\Docs\GettingStarted\net8\01_A_Manual_Install_01_Snippet.razor" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" />
                </li>
                <li>
                    <b>Add CSS references:</b>
                    <Block>After the <code>base</code> tag in the <code>head</code> section of the <code>wwwroot/index.html</code> file, add the following references:</Block>
                    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.HTML" FilePath="~\Pages\Docs\GettingStarted\net8\01_A_Manual_Install_02_Snippet.html" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" />1
                </li>
                <li>
                    <b>Add JS references:</b>
                    <Block>Insert the following references into the body section of the <code>wwwroot/index.html</code> file, immediately after the <code>_framework/blazor.webassembly.js</code> reference:</Block>
                    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.HTML" FilePath="~\Pages\Docs\GettingStarted\net8\01_A_Manual_Install_03_Snippet.html" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" />
                </li>
                <li>
                    <b>Register services:</b>
                    <Block>Add <code>@@using BlazorExpress.Bulma</code> to <code>_Imports.razor</code>:</Block>
                    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.Razor" FilePath="~\Pages\Docs\GettingStarted\net8\01_A_Manual_Install_04_Snippet.razor" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" />

                    @* <Block>Register services in <code>Program.cs</code> (if required):</Block>
                        <CodeChunk Class="mt-3" LanguageCode="LanguageCode.CSharp" FilePath="~\Pages\Docs\GettingStarted\net8\01_A_Manual_Install_05_Snippet.cs" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" />
                        <p>
                            <b>Note:</b> If <code>AddBlazorExpressBulma()</code> is not available, check the <a href="https://github.com/BlazorExpress/BlazorExpress.Bulma" target="_blank">official documentation</a> for the latest setup instructions.
                        </p> *@
                            </li>
                            @* <li>
                        <b>Remove default references:</b>
                        <Block>In <code>wwwroot/index.html</code>, remove the default CSS and JS references that conflict with Bulma:</Block>
                    </li> *@
            </ol>
        </Block>
    </Section>

    <Section Class="p-0" Size="HeadingSize.H4" Name="3. Usage Example" PageUrl="@pageUrl" Link="3-usage-example">
        <Block>
            <ol>
                <li>
                    <Block>Add a Bulma component to <code>Pages/Home.razor</code>:</Block>
                    <CodeChunk Class="mt-3" LanguageCode="LanguageCode.Razor" FilePath="~\Pages\Docs\GettingStarted\net8\01_A_Manual_Install_06_Snippet.razor" ProjectRootClassType="DemoAppConstants.ProjectRootClassType" />
                </li>
            </ol>            
        </Block>        
    </Section>

    <Section Class="p-0" Size="HeadingSize.H4" Name="4. Troubleshooting" PageUrl="@pageUrl" Link="4-troubleshooting">
        <Block>
            <ul>
                <li>Ensure all CSS and JS references are correct in <code>index.html</code>.</li>
                <li>Restart the development server after making changes to static files.</li>
                <li>Check the browser console for errors if components do not render as expected.</li>
            </ul>
        </Block>
    </Section>

    <Section Class="p-0" Size="HeadingSize.H4" Name="References" PageUrl="@pageUrl" Link="references">
        <Block>
            <ul>
                <li>
                    <a href="https://github.com/BlazorExpress/BlazorExpress.Bulma" target="_blank">BlazorExpress.Bulma GitHub Repository</a>
                </li>
                <li>
                    <a href="https://www.nuget.org/packages/BlazorExpress.Bulma/" target="_blank">NuGet Package</a>
                </li>
            </ul>
        </Block>
    </Section>
</div>

@code {
    private const string pageUrl = DemoRouteConstants.Docs_Getting_Started_Blazor_WebAssembly_NET8;
    private const string pageTitle = "Getting started - Blazor WebAssembly (.NET 8)";
    private const string pageDescription = "Learn how to quickly set up <code>BlazorExpress.ChartJS</code> in your Blazor WebAssembly project using dotnet templates or manual installation, and how to register the required services.";
    private const string metaTitle = "Getting started - Blazor WebAssembly (.NET 8)";
    private const string metaDescription = "Step-by-step guide to using BlazorExpress.ChartJS: dotnet templates, manual install, and service registration for Blazor WebAssembly apps.";
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
